<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <servlet>
        <servlet-name>ServletVendas</servlet-name>
        <servlet-class>br.com.bean.ServletVendas</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ServletVendas</servlet-name>
        <url-pattern>/vendas.do</url-pattern>
    </servlet-mapping>
</web-app>
